h1{
background-color:#DD148B;
color:#0DE11C; font-family:"Comic Sans MS";
font-size:75px; text-align: center
}
h2{
background-color:#1DA4EF;
color:#fff; font-family:"Comic Sans MS";
font-size:3em;font-size:60px; text-align: center
}
h3{
background-color:#00B826;
color:#fff; font-family:"Comic Sans MS";
font-size:3em; font-size:60px; 
}
h4{
  background-color:#FDE500;
color:#fff; font-family:"Comic Sans MS";
  font-size:3em;font-size:60px; }
h5{
  background-color:#FD4900;
color:#fff; font-family:"Comic Sans MS";
  font-size:3em;font-size:60px; }
p.fancy{
color:#000;
font-style: oblique; font-size: 40px; text-align: center
}
p{ text-align: center; font-size: 30px}
li{ font-family:"Comic Sans MS"; text-align: center; font-size:30px}
.center {
  text-align: center;
  list-style-position: inside;
}


body {
    background-color:#FDE500;
} 
.class-for-index {
    background-color:#DD148B;
}
.class-for-list {
    background-color:#1DA4EF;
}
.class-for-video {
    background-color:#00B826;
}
.class-for-lunafacts {
    background-color:#FD4900;
}
ul.nav li{display:inline; padding:10px; margin-left: auto;
  margin-right: auto; width:30px; }


ul.nav li a{display:inlineblock; padding:10px; background-color:#0DE11C; color:#fff; text-decoration:none; text-align: center; }
ul.nav li a:hover{background-color:#16BA10;}

 

th, td {
  padding: 15px;
  text-align: left;
}
table, th, td {
  border: 1px solid black;
}
td {
  height: 50px;
  vertical-align: bottom;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%; height: 40%;
}


