h1{
background-color:#DD148B;
color:#0DE11C; font-family:"Comic Sans MS";
font-size:60px;
}
p.fancy{
color:#000;
font-style: oblique; font-size: 40px;
}
  
h2{
background-color:#1DA4EF;
color:#fff; font-family:"Comic Sans MS";
font-size:3em;font-size:60px;
}
li{ font-family:"Comic Sans MS";}
h3{
background-color:#00B826;
color:#fff; font-family:"Comic Sans MS";
font-size:3em;
}
.page-id-1{background-color:#DD148B;}

ul.nav.li{displau:inline; padding:10px; width:60px;}

ul.nav.li a{display:inlineblock; padding:10px; background-color:#0DE11C; color:#fff; text-decoration:none;}
ul.nav.li a:hover{background-color:#16BA10;}
.page-id-3{background-color:#1DA4EF;}
li1{color:#FF0083;>
  li2{color:#E40808;}
  li3{color:#FF2700;}
  li4{color:#FFE10D;}
  li5{color:#39DA00;}
  li6{color:#007928;}
  li7{color:#061ED2;}
  li8{color:#631FFC;}
  li9{color:#9A06ED;}
