h1{
background-color:#DD148B;
color:#0DE11C; font-family:"Comic Sans MS";
font-size:60px;
}
p.fancy{
color:#000;
font-style: oblique; font-size: 40px;
}
  
h2{
background-color:#1DA4EF;
color:#fff; font-family:"Comic Sans MS";
font-size:3em;font-size:60px;
}
li{ font-family:"Comic Sans MS";}
h3{
background-color:#00B826;
color:#fff; font-family:"Comic Sans MS";
font-size:3em; font-size:60px;
}
<style> body {
    background-color:FDE500;
} </style>

.class-for-index {
    color:#DD148B;
}
.class-for-list {
    color:#1DA4EF;
}
.class-for-video {
    color:#00B826;
}
ul.nav li{display:inline; padding:10px; width:60px;}

ul.nav li a{display:inlineblock; padding:10px; background-color:#0DE11C; color:#fff; text-decoration:none;}
ul.nav li a:hover{background-color:#16BA10;}


